---
http_interactions:
- request:
    method: get
    uri: https://api-test.maksekeskus.ee/v1/shop
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic Zjc3NDFhYjItNzQ0NS00NWY5LTlhZjQtMGQwNDA4ZWYxZTRjOnBmT3NHRDlvUGFGRUlMd3FGTEhFSGtQZjd2Wno0ajN0MzZuQWN1ZlAxYWJxVDlsOTlrb3l1QzFJV0FPY0JlcXQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/hal+json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"contact":{"email":"maksekeskus.test@mailinator.com","phone":"123456789"},"created_at":"2014-06-02T13:26:21+0000","id":"f7741ab2-7445-45f9-9af4-0d0408ef1e4c","modified_at":"2017-08-09T00:00:01+0000","name":"maksekeskus.ee/test
        1234567890","notifications":{"email":null,"method":"GET","url":null},"object":"shop","return":{"method":"POST","url":"https://portal.beehosting.pro/modules/gateways/callback/mk_bankcard_result.php"},"status":"ACTIVE"}'
  recorded_at: Wed, 09 Aug 2017 16:27:32 GMT
[...]
- request:
    method: get
    uri: https://api-test.maksekeskus.ee/v1/shop/configuration
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic Zjc3NDFhYjItNzQ0NS00NWY5LTlhZjQtMGQwNDA4ZWYxZTRjOnBmT3NHRDlvUGFGRUlMd3FGTEhFSGtQZjd2Wno0ajN0MzZuQWN1ZlAxYWJxVDlsOTlrb3l1QzFJV0FPY0JlcXQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/hal+json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"contact":{"email":"maksekeskus.test@mailinator.com","phone":"123456789"},"created_at":"2014-06-02T13:26:21+0000","features":[{"enabled":true,"name":"shipments_without_credentials","object":"feature"}],"id":"f7741ab2-7445-45f9-9af4-0d0408ef1e4c","modified_at":"2017-08-09T00:00:01+0000","name":"maksekeskus.ee/test
        1234567890","notifications":{"email":null,"method":"GET","url":null},"object":"shop","paymentMethods":{"banklinks":[{"country":"ee","name":"swedbank","url":"https://payment-test.maksekeskus.ee/banklink.html?method=EE_SWED&trx="},{"country":"ee","name":"seb","url":"https://payment-test.maksekeskus.ee/banklink.html?method=EE_SEB&trx="},{"country":"ee","name":"lhv","url":"https://payment-test.maksekeskus.ee/banklink.html?method=EE_LHV&trx="},{"country":"ee","name":"nordea","url":"https://payment-test.maksekeskus.ee/banklink.html?method=EE_NORDEA&trx="},{"country":"ee","name":"danske","url":"https://payment-test.maksekeskus[...]
[...]
- request:
    method: get
    uri: https://api-test.maksekeskus.ee/v1/shop/fees?since=2017-07-09
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic Zjc3NDFhYjItNzQ0NS00NWY5LTlhZjQtMGQwNDA4ZWYxZTRjOnBmT3NHRDlvUGFGRUlMd3FGTEhFSGtQZjd2Wno0ajN0MzZuQWN1ZlAxYWJxVDlsOTlrb3l1QzFJV0FPY0JlcXQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Link:
      - <https://api-test.maksekeskus.ee/v1/shop/fees?since=2017-07-09&page=1&per_page=30>;
        rel="first",<https://api-test.maksekeskus.ee/v1/shop/fees?since=2017-07-09&page=1&per_page=30>;
        rel="last"
      X-Total-Count:
      - '2'
    body:
      encoding: ASCII-8BIT
      string: '[{"object":"accounting","amount":-10.0,"vat":-2.0,"id":"cd792d4d-94f3-4913-80ae-011bacfe81da","created_at":"2017-07-31T02:00:28+0000"},{"object":"accounting","amount":-10.0,"vat":-2.0,"id":"b14958fa-3a3f-4e17-b6b5-538fb1d21b95","created_at":"2017-07-31T20:59:59+0000"}]'
  recorded_at: Wed, 09 Aug 2017 16:41:00 GMT
- request:
    method: get
    uri: https://api-test.maksekeskus.ee/v1/shop/accountstatements?since=2017-08-09
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic Zjc3NDFhYjItNzQ0NS00NWY5LTlhZjQtMGQwNDA4ZWYxZTRjOnBmT3NHRDlvUGFGRUlMd3FGTEhFSGtQZjd2Wno0ajN0MzZuQWN1ZlAxYWJxVDlsOTlrb3l1QzFJV0FPY0JlcXQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Link:
      - <https://api-test.maksekeskus.ee/v1/shop/accountstatements?since=2017-08-09&page=1&per_page=30>;
        rel="first",<https://api-test.maksekeskus.ee/v1/shop/accountstatements?since=2017-08-09&page=1&per_page=30>;
        rel="last"
      X-Total-Count:
      - '6'
    body:
      encoding: ASCII-8BIT
      string: '[{"created":"2017-08-09T00:00:01+0000","amount":-544.87,"type":"PAYOUT","balance_before":686.38,"balance_after":141.51,"payout_id":"8039","original_amount":0.0,"exchange_rate":0.0},{"created":"2017-08-09T13:25:44+0000","amount":0.5,"type":"INCOME","transaction":"131431","channel":"EE_SEB","balance_before":141.51,"balance_after":142.01,"merchant_reference":"50","original_amount":0.0,"exchange_rate":0.0},{"created":"2017-08-09T13:25:44+0000","amount":-0.3,"type":"TRX_FEE_FIX","transaction":"131431","channel":"EE_SEB","balance_before":142.01000000000002,"balance_after":141.71,"merchant_reference":"50","original_amount":0.0,"exchange_rate":0.0},{"created":"2017-08-09T13:25:44+0000","amount":-0.06,"type":"VAT","transaction":"131431","channel":"EE_SEB","balance_before":141.71,"balance_after":141.65,"merchant_reference":"50","original_amount":0.0,"exchange_rate":0.0},{"created":"2017-08-09T13:25:44+0000","amount":0.0,"type":"VAT","transaction":"131431","channel":"EE_SEB","balance_before":141.65,"balance_after":141.65,"merchant_reference":"50","original_amount":0.0,"exchange_rate":0.0},{"created":"2017-08-09T13:25:44+0000","amount":-0.01,"type":"TRX_FEE","transaction":"131431","channel":"EE_SEB","balance_before":141.64999999999998,"balance_after":141.64,"merchant_reference":"50","original_amount":0.0,"exchange_rate":0.0}]'
  recorded_at: Wed, 09 Aug 2017 16:44:06 GMT
[...]
